<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

		
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendors/base/vendors.bundle.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/demo/default/base/style.bundle.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/demo/default/media/img/logo/favicon.ico') }}">
</head>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default" >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">



<!--horizontal Menu-->


			
			<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
				<div class="m-container m-container--fluid m-container--full-height">
					<div class="m-stack m-stack--ver m-stack--desktop">
					
						
						
						<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
							
							<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
								<i class="la la-close"></i>
							</button>
							<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
								<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
									<li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
										<a href="/home">
											<i class="m-menu__link-icon fa fa-home"></i>
											<span class="m-menu__link-text">
												
												Home
												
											</span>
											
											
										</a>
										
									</li>
									<li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
										<a href="/loginform">
											<i class="m-menu__link-icon fa fa-sign-in"></i>
											<span class="m-menu__link-text">
												Login
											</span>
											
											
										</a>
										
									</li>
									<li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
										<a href="/signup">
											<i class="m-menu__link-icon fa fa-plus-square-o"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Signup
													</span>
													
												</span>
											</span>
											
											
										</a>
										
									</li>
								</ul>
							</div>
														
							<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
								
							</div>
							
						</div>
					</div>
				</div>
			</header>



<!--content-->


		
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				
				<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				
			
				<div class="m-grid__item m-grid__item--fluid m-wrapper" style="background-image: url({{ url_for('static', filename = 'assets/app/media/img//bg/dashback2.jpg') }});background-size: cover;background-repeat: no-repeat;">
					
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 style="color: white" >
									Welcome To, Vehicle Registration System
								</h3>
							</div>
							
						</div>
					</div>
					
					
				</div>
			</div>
			
		



<!--footer-->


		<footer class="m-grid__item		m-footer " style="margin-left: 0">
				<div class="m-container m-container--fluid m-container--full-height m-page__container">
					<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
						
						<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
							<ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
								<li class="m-nav__item">
									<a href="#" class="m-nav__link">
										<span class="m-nav__link-text">
											About
										</span>
									</a>
								</li>
								<li class="m-nav__item">
									<a href="#" class="m-nav__link">
										<span class="m-nav__link-text">
											Privacy
										</span>
									</a>
								</li>
								<li class="m-nav__item">
									<a href="#" class="m-nav__link">
										<span class="m-nav__link-text">
											T&amp;C
										</span>
									</a>
								</li>
								<li class="m-nav__item">
									
								</li>
								<li class="m-nav__item m-nav__item">
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		
		
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='assets/vendors/base/vendors.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/demo/default/base/scripts.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/app/js/dashboard.js') }}"></script>
</html>